faiss-cpu>=1.7.2
elasticsearch
requests
tqdm==4.64.0
lxml
pandas
tqdm~=4.64.0
langdetect~=1.0.9
spacy
scikit-learn
seaborn~=0.11.2
matplotlib~=3.5.2
scipy
gensim
hydra-core==1.2.0
numpy
omegaconf
nltk>=3.8.1
https://github.com/kpu/kenlm/archive/master.zip
ruptures
pyterrier